.container {
    position: relative;
    width: fit-content;
    height: fit-content;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  
  .topImage {
    position: relative;
    transform: translate(20px, -20px); /* Menggeser gambar atas sedikit */
    z-index: 1;
  }
  